/* CSS variables */

:root {
  --primaryThemeDarkRed: #4c0004;
  --primaryThemeLightRed: #793738;
  --primaryThemeGray: #838383;
  --primaryThemeDarkGray: #3f3f3f;
}

body {
  background-color: #e0e0e0;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

h1,
h2 {
  color: var(--primaryThemeLightRed);
}

.wholenav {
  background-color: #e0e0e0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.navMainImage {
  padding: 0px;
}

#navbarTransparent {
  z-index: -1;
}

.navDropDown {
  color: #fff;
}

.navbar {
  background-color: var(--primaryThemeGray);
}

.nav-link {
  color: black;
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
  background-color: var(--primaryThemeLightRed);
  cursor: pointer;
}

.active {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 16px 0 rgba(0, 0, 0, 0.19);
}

.navbar-nav a:hover {
  background-color: var(--primaryThemeLightRed);
}

.dropdown-content a:hover {
  color: #fff;
  background-color:  background-color: var(--primaryThemeGray);
}

.positionFromNav {
  margin-top: 310px;
}

.portfolioPositionFromNav {
  margin-top: 340px;
}

.catchyOneLiner {
  height: 150px;
  padding: 0px;
  margin: 0px;
}

.mainHomeImageSection {
  background-color: var(--primaryThemeDarkGray);
  padding: 0px;
  margin: 0px;
}

.mainHomeImage {
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin: 0 auto;
}

.contactImage {
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

.smallerHomeImages {
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px 0;
}

.sunchaseLargeImage {
  border: 1px solid var(--primaryThemeGray);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portfolioImageContainer {
  position: relative;
}

.portfolioMainImg {
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px 0;
  max-height: 350px;
  position: relative;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: var(--primaryThemeLightRed);
  padding: 10px;
  color: #fff;
  font-size: 24px;
}

.middle .text {
  color: #fff;
}

.portfolioImageContainer:hover .portfolioMainImg {
  opacity: 0.3;
}

.portfolioImageContainer:hover .middle {
  opacity: 1;
  color: #fff;
  cursor:pointer;
}


.aboutUsQuotes {
  color: var(--primaryThemeLightRed);
  padding: 10px;
}

figcaption {
  background-color: #fff;
  color: var(--primaryThemeLightRed);
  margin: 0px;
}

.contactUsSection {
  background-color: #fff;
  margin-right: 0px;
  margin-left: 0px;
}
.footerSection {
  background-color: var(--primaryThemeDarkGray);
  padding: 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primaryThemeGray);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  background-color: var(--primaryThemeLightRed);
}

.missionHeaders {
  text-decoration-line: underline;
  text-decoration-style: double;
}


@media only screen and (max-width: 1198px) {
  .positionFromNav {
    margin-top: 250px;
  }
  .portfolioPositionFromNav {
    margin-top: 350px;
  }
}

@media only screen and (max-width: 991px) {
  #navbarTransparent {
    display: none;
  }
}

@media only screen and (max-width: 415px) {
  .catchyOneLiner {
    height: 200px;
  }
}
