/* CSS variables */

:root {
  --primaryThemeDarkRed: #4c0004;
  --primaryThemeLightRed: #793738;
  --primaryThemeGray: #838383;
  --primaryThemeDarkGray: #3f3f3f;
}

body {
  background-color: #e0e0e0;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

h1,
h2 {
  color: var(--primaryThemeLightRed);
}

.navDropDown {
  color: var(--primaryThemeLightRed);
}

.navbar {
  background-color: var(--primaryThemeGray);
}

.nav-link {
  color: black;
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
  background-color: var(--primaryThemeLightRed);
  cursor: pointer;
}

.active {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 16px 0 rgba(0, 0, 0, 0.19);
}

.navbar-nav a:hover {
  background-color: var(--primaryThemeLightRed);
}

.dropdown-content a:hover {
  color: var(--primaryThemeLightRed);
  background-color: #f9f9f9;
}

.catchyOneLiner {
  height: 150px;
  padding: 0px;
  margin: 0px;
}

.mainHomeImageSection {
  height: 475px;
  background-color: var(--primaryThemeDarkGray);
  padding: 0px;
  margin: 0px;
}

.mainHomeImage {
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.smallerHomeImages {
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px 0;
}

.sunchaseLargeImage {
  border: 1px solid var(--primaryThemeGray);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutUsQuotes {
  color: var(--primaryThemeLightRed);
  padding: 10px;
}

figcaption {
  background-color: #fff;
  color: var(--primaryThemeLightRed);
  margin: 0px;
}

.contactUsSection {
  background-color: #fff;
}
.footerSection {
  height: 90px;
  background-color: var(--primaryThemeDarkGray);
  padding: 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
