/* CSS variables */

:root {
  --primaryThemeDarkRed: #4c0004;
  --primaryThemeLightRed: #793738;
  --primaryThemeGray: #838383;
  --primaryThemeDarkGray: #3f3f3f;
}

body {
  background-color: #e0e0e0;
}

h1,
h2 {
  color: var(--primaryThemeLightRed);
}

.navbar {
  background-color: var(--primaryThemeGray);
}

.nav-pills:hover {
  color: black;
}

.nav-link {
  color: black;
}

.nav-pills:hover {
  color: black;
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
  background-color: var(--primaryThemeLightRed);
  cursor: pointer;
}

.active {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 16px 0 rgba(0, 0, 0, 0.19);
}

.catchyOneLiner {
  height: 150px;
  background-color: #fff;
  padding: 0px;
  margin: 0px;
}

.mainHomeImageSection {
  height: 475px;
  background-color: var(--primaryThemeDarkGray);
  padding: 0px;
  margin: 0px;
}

.mainHomeImage {
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.smallerHomeImages {
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px 0;
}

.sunchaseLargeImage {
  border: 1px solid var(--primaryThemeGray);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutUsQuotes {
  color: var(--primaryThemeLightRed);
  padding: 10px;
}

figcaption {
  background-color: #fff;
  color: var(--primaryThemeLightRed);
  margin: 0px;
}

.contactUsSection {
  background-color: #fff;
}
.footerSection {
  height: 90px;
  background-color: var(--primaryThemeDarkGray);
  padding: 0px;
}
